<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortfolioCripto.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Coinmarketcap.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PortfolioCripto.My.MySettings>
            <setting name="apiCMCKey" serializeAs="String">
                <value />
            </setting>
            <setting name="apiUrlHistorical" serializeAs="String">
                <value>https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest</value>
            </setting>
            <setting name="apiUrl" serializeAs="String">
                <value>https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest</value>
            </setting>
            <setting name="apiUrlSandbox" serializeAs="String">
                <value>https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest</value>
            </setting>
            <setting name="lastView" serializeAs="String">
                <value />
            </setting>
            <setting name="activeAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="JSONBinURL" serializeAs="String">
                <value />
            </setting>
            <setting name="JSONBinMasterKey" serializeAs="String">
                <value />
            </setting>
            <setting name="JSONBinID" serializeAs="String">
                <value />
            </setting>
            <setting name="BinanceAPIKey" serializeAs="String">
                <value>I6CTK7z1IwFbjvIpZYvjjKw7y0phdX3mGay8R4tPMvCSKtp3u2jabdPNMa9IUR5b</value>
            </setting>
            <setting name="BinanceSecretKey" serializeAs="String">
                <value>aTpFL4KmiTMoXlhn8Xj31XfKuxMNGPTz0SY6obOcvFleOivBR8iXQVviUuh1tHOe</value>
            </setting>
            <setting name="GateAPIKey" serializeAs="String">
                <value>98db4f63584bb557c0e5d162324edf43</value>
            </setting>
            <setting name="GateSecretKey" serializeAs="String">
                <value>6c7a7c9aa890301a5078d09adfeb2d5e6eef4c81a7da556232d5b6e8d81685ec</value>
            </setting>
        </PortfolioCripto.My.MySettings>
        <Coinmarketcap.My.MySettings>
            <setting name="apiURL" serializeAs="String">
                <value />
            </setting>
        </Coinmarketcap.My.MySettings>
    </userSettings>
</configuration>
